---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label, Svg } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const languages = ['Rust', 'Python', 'C', 'C++', 'Objective-C', 'Shell', 'Lua']
const frontend = [
  'HTML',
  'JavaScript',
  'CSS',
  'TypeScript',
  'Vue',
  'WebComponent',
  'Wgpu',
  'Wasm',
  'Astro',
  'Vite',
  'Nuxt',
  'Dart',
  'Flutter'
]
const backend = ['Cloudflare', 'Sqlite', 'Axum', 'Docker']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='China'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label title='Source code' as='a' href='https://github.com/xj63/blog' target='_blank'>
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Developer / AI Student</p>
        <p class='text-muted-foreground'>
          As a coder who finds beauty in control flow's dance with data streams, I engineer
          algorithms where discrete rigor continuously maps to open solution domains. To me, clean
          code isn't mere functionality – it's metaphysical syntax, where abstraction layers whisper
          elegant truths and modular logic sings in fractal harmony.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      {
        /* <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> */
      }
      <Section title='Education'>
        <Card
          as='a'
          heading='B.Eng. in Artificial Intelligence'
          subheading='Xidian University'
          date='Sept 2022 - July 2026'
          href='https://en.xidian.edu.cn'
          class='overflow-hidden'
        >
          <Svg
            src={import('@/assets/icons/XDU.svg?raw')}
            class='absolute end-28 z-0 object-cover opacity-40 scale-400'
          />
        </Card>
      </Section>

      <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://ticktime.xj63.fun'
            heading='TickTime'
            subheading='TickTime is a time app that elegantly displays the current time and an inspirational quote.'
            imagePath='/src/assets/projects/ticktime-screenshot.png'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Frontend' skills={frontend} />
        <SkillLayout title='Backend' skills={backend} />
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>
